body {
	background-color: plum;
	
    }

 h3{
    font-family:"Hoefler Text";
    color:rgb(100, 20, 15);
    font-size:20px;
  }
   h2{
   	font-family:"Rockwell";
  	color:#937045;
    font-size:20px;
  
}
 h4{
    font-family:"Arial";
    color:blue;
    font-size:15px;
  }